html,
body {
  height: 100%;
}

body {
  width: 100%;
  background: #000;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: Gerbera, sans-serif;
}

body.cursor-move-horizontal {
  cursor: ew-resize !important;
}

body.cursor-resize-horizontal {
  cursor: col-resize !important;
}
